.container {
  position: relative;

  .card {
    text-align: center;
    margin-bottom: 1rem;
    .header {
      cursor: pointer;
      &:hover {
        backdrop-filter: brightness(90%);
      }
      &:active {
        backdrop-filter: brightness(80%);
      }
    }
    .body {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  }
  .reset {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: red;
    color: white;
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
  }
  .counter {
    border-radius: 100%;
    background-color: #0076ff;
    color: white;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
